<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon">
    <test name="EC2Instance">
        <parameter name="DriverName" value="chrome"></parameter>
        <classes>
            <class name="AmazonTest"></class>
        </classes>
    </test>
</suite>